---
import { ViewTransitions } from 'astro:transitions'
import data from '../../public/data.json'
import Box from '../components/Box.tsx'
import Companies from '../components/Companies.astro'
import Experience from '../components/Experience.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Map from '../components/Map.astro'
import NavMenu from '../components/NavMenu.astro'
import Projects from '../components/Projects.astro'
import SocialNav from '../components/SocialNav'
import { ToggleDarkMode } from '../components/ToggleDarkMode.tsx'
import Layout from '../layouts/Layout.astro'
---

<ViewTransitions />
<Layout
  title="Eduardo Guette - Web Developer - Portfolio"
  description="Web developer with 5+ years of experience. Specialist in unique and innovative digital products. Creativity, detail and teamwork to exceed expectations."
  lang="en"
  canonical="https://eduardoguette.com/"
>
  <Header />
  <main
    class="relative z-10 flex flex-col gap-12 lg:w-[1035px] mx-auto p-4 mt-12"
  >
    <header
      id="about"
      class="relative pb-7 md:grid-cols-[315px,1fr] grid bento gap-8 w-full overflow-hidden"
    >
      <Box client:idle>
        <Hero />
        <h1
          class="z-20 relative text-3xl md:-left-0 mt-6 font-medium"
          set:html={data.en.hero.title}
        />
        <p class="dark:text-gray-300 mt-1">
          {data.en.hero.born}
        </p>
        <p class="dark:text-gray-300 mt-1">
          {data.en.hero.work}
        </p>
      </Box>
      <div class="flex flex-col h-full gap-6">
        <Box client:idle title="About me">
          <h2 class="text-md" set:html={data.en.hero.subtitle} />
        </Box>
        <div class="grid md:grid-cols-[1fr,162px] gap-6">
          <Box client:idle title="Contact me">
            <SocialNav />
          </Box>
          <Box customClass=" m-0 overflow-hidden w-max  px-1 py-1 " client:idle>
            <Map />
          </Box>
        </div>
      </div>
    </header>

    
    <Companies />
    <Projects projects={data.en.projects} name="Projects" />
    <Experience experience={data.en.experience} name="Experience" />
  </main>
  <footer class="mt-20 px-4 md:px-0 text-sm md:w-[1035px] py-8 mx-auto">
    <div class="justify-between items-center flex">
      <p class="text-neutral-600">Eduardo Guette</p>
      <NavMenu />
    </div>
    <ToggleDarkMode client:only />
  </footer>
</Layout>
