---
import data from '../../public/data.json'
import economistaLogo from '../assets/eleconomista-logo.png'
import psLabLogo from '../assets/pslab-logo.svg'
import smartclipLogo from '../assets/smartclip-logo.svg'
import Experience from '../components/Experience.jsx'
import Header from '../components/Header.jsx'
import Projects from '../components/Projects.jsx'
import SocialNav from '../components/SocialNav.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Eduardo Guette"
	description="Drive your success with impactful technological solutions! I'm a passionate professional in software development and front-end design, focused on the perfect balance between technical efficiency and user experience. Let's create cutting-edge solutions that drive performance and deliver real value. Connect with me to take your ideas to the next level."
	lang='en'
	canonical="https://eduardoguette.vercel.app/"
>
	<div
		class="fixed -z-1 h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] rounded-full animate-pulse bg-indigo-500 blur-[150px] md:blur-[350px] opacity-100 left-0 top-0"
	>
	</div>
	<div
		class="fixed -z-1 h-[50px] w-[50px] lg:w-[200px] lg:h-[200px] rounded-full animate-pulse bg-indigo-500 blur-[150px] md:blur-[350px] opacity-100 right-0 bottom-0"
	>
	</div>
	<Header />
	<main class="relative z-10">
		<article class="mb-40" id="about">
			<header class="mb-4">
				<p>Hey there!👋</p>
				<h1
					class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-pink-600"
				>
					I'm Eduardo Guette
				</h1>
				<p>Software Engineer & Front-end Developer</p>
			</header>
			<p>
				I am a passionate software development and front-end design professional
				with a solid and successful track record in creating impactful
				technology solutions. My focus is on finding the perfect combination
				between technical efficiency and user experience.
			</p>
			<footer class="mt-4">
				<p class="text-sm">
					Email me at <a
						class="underline hover:text-indigo-500"
						href="mailto:eduardoguette@gmail.com">eduardoguette@gmail.com</a
					> link or follow me via my social links.
				</p>
				<SocialNav />
			</footer>
		</article>
		<Projects client:idle projects={data.en.projects} name="Projects" />
		<article class="my-32">
			<p class="mb-4">Some of the companies I added value to :</p>

			<div
				class="flex gap-10 items-center justify-center w-8/12 mx-auto my-10 flex-wrap md:flex-nowrap"
			>
				<img src={smartclipLogo} loading="lazy" alt="Logo Smartclip" width="192" height="46.83" class="w-48 filter grayscale" loading="lazy" />
				<img src={economistaLogo} loading="lazy" alt="logo elEconomista" width="192" height="41.59" class="w-48 filter grayscale" />
				<img src={psLabLogo} alt="Logo PsLab" height="49.27" width="80px" class="w-20 filter grayscale" />
			</div>
		</article>
		<Experience client:idle experience={data.en.experience} name="Experience" />
		<footer class="my-20">
			<p class="text-center text-gray-600">
				© {new Date().getFullYear()} Eduardo Guette
			</p>
		</footer>
	</main>
</Layout>
