---
export interface Props {
	title: string
	description: string
	lang: string
	canonical: string
}

const { title, description, lang, canonical } = Astro.props
---

<!DOCTYPE html>
<html lang={lang} class=" ">
	<head>
		<meta charset="UTF-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
		<link rel="icon" href="./image.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="shortcut icon" href="./image.svg" type="image/x-icon" />
		<link rel="icon" href="./image.svg" type="image/x-icon" />
		<link rel="canonical" href={canonical} />
		<meta name="description" content={description} />
		<meta name="robots" content="index,follow" />
		<meta property="og:title" content="Eduardo Guette" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content={canonical} />
		<meta property="og:description" content={description} />
		<meta property="og:image:width" content="200" />
		<meta property="og:image:width" content="200" />
		<meta
			property="og:image"
			content="https://media.licdn.com/dms/image/D4D03AQETXPGftCD_Rg/profile-displayphoto-shrink_400_400/0/1687273933259?e=1692835200&v=beta&t=MigE5MdReyiSRr-j7M7cNNh-b8mP30GBFmM4DjxRrgs"
		/>
		<meta name="twitter:card" content="summary" />

		<title>{title}</title>
	</head>
	<body class="scroll-smooth md:mb-0 w-full bg-slate-50 bg-top ">
		<div class=" mx-auto p-4 lg:w-[80ch]">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#2b3d4f 30%,
			#3398db 60%
		);
	}
	html {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
			Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
			Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		scroll-behavior: smooth;
		scroll-padding-top: 1rem;
	} 
	body {  
		background-image: url('../assets/Frame.svg'); 
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	/* 	@font-face {
		font-family: 'Inter';
		font-weight: 400;
		src: url('../assets/fonts/Inter-Regular.woff2');
	}
	@font-face {
		font-family: 'Inter';
		font-weight: 500;
		src: url('../assets/fonts/Inter-Medium.woff2');
	}
	@font-face {
		font-family: 'Inter';
		font-weight: 600;
		src: url('../assets/fonts/Inter-SemiBold.woff2');
	}
 */
	.header h1 {
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 0.15em solid rbg(99, 102, 241); /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: 0.01em; /* Adjust as needed */
		animation: typing 1.2s steps(5, end), blink-caret 0.75s step-end infinite;
		width: max-content;
	}

	/* The typing effect */
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: rbg(99, 102, 241);
		}
	}
	.card-experience {
		grid-template-areas:
			'companyName date'
			'position position'
			'responsabilities responsabilities';
	}
</style>
